Dockerfile
.git
.dockerignore
**/node_modules
**/target
**/phase1radix2m*
/phase2/pkg
/phase2/*.params
/phase2/*.json
/phase2/*.bin
/phase2/*.circom
/phase2/verifier.sol
/powersoftau/challenge*
/powersoftau/response*
/powersoftau/transcript
/powersoftau/tmp_*